html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
