.App {
  text-align: center;
}

.container {
  display: flex;
}

.search {
  margin-left: 8px;
}

table {
  margin-top: 24px;
	width: 100%;
}

th {
	padding: 4px;
	color: #FFF;
	background: #4169e1;
}

td {
	padding: 4px;
	background: #87cefa;
}

.todo {
  margin-top: 24px;
}

.title {
  font-weight: bold;
}

.status {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.completed {
  color: #87cefa;
}

.incomplete {
  margin-left: 16px;
  color: red;
}

.detail {
  margin-top: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
